.page-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    margin: 0;
    width: 100%;
}

li a {
    display: flex;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header-container {
    display: flex;
    align-self: center;
    padding-top: 12rem;
}

.header {
    font-size: 3.5rem;
}

.button-container {
    align-self: center;
}

button {
    background-color: rgb(68, 68, 68);
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    transition: background-color linear 2s;
}

button:hover {
    cursor: pointer;
    background-color: #111;
}

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-block: 1rem;
    background-color: #333;
}

footer>div {
    display: flex;
    justify-content: center;
    width: 9rem;
}

footer>div>span {
    font-size: 1rem;
    color: white;
}