.page-container {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    width: 100%;
}

li a {
    display: flex;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

li a:hover {
    color: #fff;
    background-color: #111;
}

.header-container {
    display: flex;
    align-self: center;
    padding-top: 12rem;
}

.header {
    font-size: 3.5rem;
}

.button-container {
    padding: 1.5rem;
    align-self: center;
}

footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-block: 1rem;
    background-color: #333;
}

footer>div {
    display: flex;
    justify-content: center;
    width: 9rem;
}

footer>div>span {
    font-size: 1rem;
    color: white;
}