/* WebAdvisor specific issues  with UG Branding */

/* Multi-level padding */ 
#content table div,
#content table p {
	margin-left: 0;
	margin-right: 0;
}

#content div.custom {
	margin-left: 0;
	margin-right: 0;
}

#content div ul {
	margin-left: 65px;
}

#content div.screen {
	margin-left: 5px;
	margin-right: 5px;
}

#ghlogo {
	display: block;
	position: absolute;
	height: 50px;
	width: 100px;
	top: 0;
	right: 0;
	background-color: #fdfdfd;
	padding: 25px 0;
}

#printlogo {
	display: none;
}